.container {
  background-color: #efeeee;
  padding: 30px;
}

.order_container {
  background-color: white;
  padding: 20px;
}

.order_container h2 {
  border-bottom: 2px solid var(--primary-shade);
  padding: 20px;
}

.order_container p {
  padding: 12px;
}

.order_container img {
  width: 50px !important; 
  object-fit: contain;
}

.order_container div {
  height: auto !important;
}
/* Target ProductCard images ONLY inside Orders */
.order_container :global(._product_fixed_1wmqj_193 img) {
  width: 80px !important;   /* smaller image */
  height: auto !important;
  object-fit: cover !important;
  border-radius: 4px;
}
